<footer>

  <div>

    <a href="/">Home</a>

    <div>
      <a href="mailto:{{ my_data.email }}">{{ my_data.email }}</a>
      <p>Copyright © 2020 | Brent Nygaard</p>
    </div>

  </div>

</footer>
