<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="theme-color" content="{{ my_data.theme-color}}">

<meta name="description" content="{{ description }}">

<meta name="robots" content="index,follow"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->

<meta name="referrer" content="no-referrer">
