---
title: Home
layout: default
description: The business website of Brent Nygaard Design Studio. A web design and development provider.
---
<section>

  <div>
    <h1>Welcome to the home page!</h1>
    <h3>Make something nice.</h3>
  </div>

</section>
